table th{
  padding: 5px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}

table td{
  padding: 8px;
  font-family: 'Raleway', sans-serif;
  font-weight: 200;

}

p {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

header {
  height: 30vw;
  background-image: url(../images/eatingdogs-cropped.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.navbar-brand img {
  height: 10vh;
}

.main h1 {
  text-align: center;
  color: rgb(240, 180, 0);
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 45px;
  -webkit-text-stroke: 1px black;
  color: rgb(240, 180, 0);
  text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000,
    -1px 1px 0 #000, 1px 1px 0 #000;
}

.main h2 {
  text-align: center;
  color: rgb(40, 170, 200);
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 40px;
  -webkit-text-stroke: 1px black;
  color: white;
  text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000,
    -1px 1px 0 #000, 1px 1px 0 #000;
}


.iphone-screen {
  text-align:center;
}
