body {
  font-family: 'Robotto', sans-serif;
}

#root  {
  background-color: rgb(240,240,240);

}

#AddCard {
  margin-top: 20px;
}

.list {
  background-color: rgb(240,240,240);
  display: inline-block;
  margin-top: 20px;
  padding: 20px;
}

.list h1 {
  color: #333;
  font-weight: 300;
  padding-left: 10px;
}

.list ul {
  list-style: none;
  margin:0;
  padding: 0;
}

.list ul li {
  border: 1px solid #CCC;
  padding: 15px;
  background-color: #FEFEFE;
  min-width: 300px;
  min-height: 70px;
  margin-bottom: 10px;
  box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.10)
}

.list ul li span.name {
  display: block;
  font-weight: 700;
  font-size: 20px;
}

.list ul li span.character {
  display: block;
  font-weight: 200;
  font-size: 16px;
  padding-top: 5px;
}

.list ul li span.photo {
  height: 70px;
  width: 70px;
  overflow: hidden;
  display: inline-block;
  float: left;
  margin-right: 10px;
}

.list ul li span.photo img {
  display: inline-block; 
  width: 100%;
}

.removeIcon {
  cursor: pointer;
  color: red;
  position: relative;
  float: right;
}

.add {
  width: 100%;
}

.add button {
  float: right;
}
